<style>
  .modal-header, h4, .close {
      background-color: #5cb85c;
      color:white !important;
      text-align: center;
      font-size: 30px;
  }
  .modal-footer {
      background-color: #f9f9f9;
  }
</style>
<div class="navbar navbar-default navbar-static-top">
      <div class="container">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to "Movie Reviews", root_path, class: "navbar-brand" %>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
          <ul class="nav navbar-nav">
            <li class="nav-item <%= active_class('movies', 'new') %>">
			  <%= link_to new_movie_path, class: "nav-link" do %>
				New Movie
				<span class="sr-only"> <%= active_span('movies', 'new') %> </span>
			  <% end %>	  
		    </li>	
			
		    <li class="nav-item <%= active_class('welcome', 'about') %>">
			  <%= link_to about_path, class: 'nav-link' do %>
				About
				<span class="sr-only"> <%= active_span('welcome', 'about') %> </span>
			  <% end %>
		    </li>
          </ul>
            <form class="navbar-form navbar-left">
		    	<%= form_tag(search_movies_path, method: :get, class: "form-inline pull-xs-right", role: 'search') do %>
			    <div class="input-group">
			        <%= text_field_tag :term, params[:term], class: 'form-control', placeholder: "Search" %>
				
			        <div class="input-group-btn">
			          <button class="btn btn-default" type="submit">
			            <i class="glyphicon glyphicon-search"></i>
			          </button>
			        </div>
			      </div>
			  <% end %>	
		    </form>

		    <ul class="nav navbar-nav navbar-right">
		    <% if current_user %>
			    <li><span><%= current_user.name %>|<%= link_to "Sign out", signout_path, id: "sign_out" %></span><li>
			 <% else %>
			    <li><a id="login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
			  <% end %>
		    </ul>
        </div>
      </div>
    </div>



    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4>Movie Review</h4>
          </div>
          <div class="modal-body" style="padding:40px 50px;">
            <form role="form">
              <a href='/auth/facebook' class="btn btn-block btn-social btn-facebook">
                <span class="fa fa-facebook"></span> Connect with Facebook
              </a>
              <a href='/auth/google_oauth2' class="btn btn-block btn-social btn-google">
                <span class="fa fa-google"></span> Connect with Google
              </a>
            </form>
          </div>
        </div>
      </div>
    </div> 
   
  <script>
    $(document).ready(function(){
        $("#login").click(function(){
            $("#myModal").modal();
        });
    });
    </script>

